body{
    font-family: Poppins;
    background-color: #f3f3f3;
    
}

a{
    color: inherit;
    text-decoration: inherit;
}

.profile-card{
    border-radius: 15px;
    margin-top: 30px;
    background-color: #95A3EF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profile-settings-icon{
    position: absolute;
    right: 25px;
    top:25px;
}

.profile-card img{
    margin:25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.profile-menu-card{
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    color: grey;
}

.profile-menu{
    padding:10px;
}

.profile-menu span{
    padding-left:20px;
}

.end-arrow{
    color: grey;
    position: absolute;
    float: right;
    right:25px; 
    margin-top: 8px; 
}

.divider{
    margin:4px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: lightgray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .footer-element{
    font-size: 10px;
    margin: 10px 14px;
    display:inline-block;
    text-align: center;
  }
  
  .active{
    color: #95a3ef;
  } 
  
  @media only screen and (max-width: 374px) {
    .footer-element{
      font-size: 10px;
      margin: 10px;
    }
}